/* Colores y estilos a cambiar */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
      background-color: #B4DEF7;
}

.header{
    height: 80px;
    width: auto;
    background-color: #B4F4F7; 
}
.header li {
    list-style: none;
    display: inline-block;
    margin-left: 85px;
    font-family: sans-serif;
    font-size: 200%;
    height: 25%;
    cursor: pointer;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

a:link:hover, a:visited:hover, a:active:hover {
    color: black;
}

.wrapper .sidebar{
    opacity: 0.5;
    border-radius: 10px;
    margin-top: 8%;
    background: #054468;
    position: absolute;
    top: 0;
    left: 10px;
    width: 220px;
    height: 500px;
    transition: all 0.5s ease;
    padding-top: 5%;
}


/* Contenido de barra lateral, solo ejemplo!*/
.wrapper .sidebar h3 {

    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}
.content{
    padding-top: 30px;
    padding-left: 270px;
}
[data-content]{
    display: none;
}
.active[data-content]{
    display: block;
}

.pescao{
width: 45%;
}
.sidebar #textbox{
    height: 25%;
    background-color: #B4DEF7;
    border-color: black;
    border-radius: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.sidebar #button {
    height: 15%;
    width: 45%;
    margin-left: 27%;
    margin-bottom: 10%;
    border-radius: 5px;
}

.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  .contact_form input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  .contact_form textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  .contact_form label{
    display: block; 
    float: center;  
  }
  

  #check {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: 10px;
  }
   
  #enviar {
      margin: 10px;
      display: inline-block;
  }