/* Colores y estilos a cambiar */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
      background-color: #B4DEF7;
}

.header{
    height: 80px;
    width: auto;
    background-color: #B4F4F7; 
}
.header li {
    list-style: none;
    display: inline-block;
    margin-left: 85px;
    font-family: sans-serif;
    font-size: 30px;
    height: 25%;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

a:link:hover, a:visited:hover, a:active:hover {
    color: black;
}

.wrapper .sidebar{
    opacity: 0.5;
    border-radius: 10px;
    margin-top: 8%;
    background: #054468;
    position: absolute;
    top: 0;
    left: 10px;
    width: 220px;
    height: 500px;
    transition: all 0.5s ease;
    padding-top: 5%;
}


/* Contenido de barra lateral, solo ejemplo!*/
.wrapper .sidebar h3 {
    padding-top: auto;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}
.content{
    padding-top: 30px;
    padding-left: 270px;
}
